@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.62em;
  color: #444;
  overflow-x: hidden;
}

p{ margin: 0 0 20px 0; font-weight: 500; }

.h1, .h2, .h3, h1, h2, h3, .h4, .h4, .h5, h5 {
  margin-top: 10px;
  margin-bottom: 20px;
}

h1, .h1{ font-size: 2em; font-weight: normal; color: #1d1d1d; }

h2, .h2{ font-size: 20px; font-weight: 500; color: #1d1d1d; text-transform: uppercase;}

h3, .h3{ font-size: 18px; font-weight: 500; color: #1d1d1d; text-transform: uppercase; }

h4, .h4{ font-size: 16px; font-weight: 500; color: #1d1d1d; text-transform: uppercase; }
h5, .h5{ font-size: 14px; font-weight: 500; color: #1d1d1d; text-transform: uppercase; }

img{ max-width: 100%; height: auto; }

a{
  color: #3a82b8;
}

ol li,ul li { font-size: 14px; font-weight: 500; color: #1d1d1d; padding-bottom: 10px;}

.middlewidget a, .content_layout a{
  color: #3a82b8;
  text-decoration: underline;
}

a:hover{
  color: #3a82b8;
}

ol, ul {
  padding-left: 15px;
}

ul.links.inline{
  padding: 0;
}

ul.links.inline li{
  list-style: none;
}

.main-header{
  background-size: cover;
  position: relative;
}

.main-menuwrap nav{
  border: 0;
  margin: 0;
  position: relative;
  z-index: 2;
  border-radius: 0;
  min-height: auto;
}

.main-header .region{
  position: relative;
  z-index: 2;
  margin-bottom: 0px;
}

.main-header .region-header{
  display: inline-block;
}

/*region header*/

.site-branding{
  margin: 0;
}

.brand.logo{
  margin-right: 5px;
}

.region-header .brand{
  display: inline-block;
  vertical-align: middle;
  line-height: 100%;
  color: #666;
}

.site-name a{
  font-size: 22px;
  color: #272727;
}

.site-name a:hover{
  text-decoration: none;
}

/*Banner*/

.welcome-banner-text{
  text-align: center;
  line-height: 160%;
  max-width: 600px;
  padding: 90px 0;
}

.welcome-banner-text h2{
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

/*top widget*/

.topwidget{
  padding: 0px 0 50px 0px;
}

.topwidget .fa{
  font-size: 60px;
  background: #4D4F4A;
  width: 120px;
  height: 120px;
  padding: 32px;
  border-radius: 50%;
  color: #fff;
  margin-bottom: 20px;
}

.topwidget .region{
  /* background: #FCFCFC;
  border: 1px solid #F1F1F1;
  padding: 15px; */
}

.topwidget h2{
  margin-top: 0;
  font-size: 20px;
  font-weight: 500;
}

.topwidget p{
  color: #1d1d1d;
  font-weight: 500;
}

.topwidget p:last-child{
  margin: 0;
}

/*footerwidget*/

.footerwidget{
  background: #272727;
  color: #8A8A8A;
  padding: 10px 0;
}

.footerwidget img.left{
  float: left;
  margin: 10px 10px 0 0;
}

.copyright{
  background: #327fb5;
  color: #fff;
  /*display: none;*/
}

.copyright p{
  margin: 13px 0;
  color: #fff;
  font-size: 13px;
}

.copyright a {

  color: #fff;
  text-decoration: underline;

}

.copyright .container {

  border-top: 1px solid #fff;
}

.footerwidget {
  background: #327fb5;
  color: #fff;
  padding: 30px 0;
  font-weight: 500;
  margin-top: 30px;
}

.footerwidget h2 {
  color: #FFF;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.region.region-footer-first iframe {
  border: 3px solid #fff;
  border-radius: 4px;
}

.region.region-footer-third a {
  color: #fff;
  padding: 0px;
  border: none;
}

/*bottom-widgets*/

.bottom-widgets{
  text-align: center;
  background: #FBFBFB;
  padding: 10px 0;
}

.bottom-widgets .region{
  padding: 10px;
  background: #DEDEDE;
}

address {
  margin-bottom: 5px;
}

/*Footer menu*/

.footer-menu{
  margin: 0;
  border: 0;
  background: #fff;
  color: #1d1d1d;
  font-weight: 500;
  text-align: center;
}

.footer-menu ul{
  margin: 10px 0;
  padding: 0;
}

.footer-menu nav li{
  display: inline-block;
}

.footer-menu nav li a{
  display: block;
  padding: 4px 20px 4px 0;
}

.google_map p,
.google_map .block{
  margin: 0;
}

.google_map iframe{
  display: block;
}

/*Credit link*/

.credit-link{
  text-align: left;
}

/*SOCIAL MEDIA*/

.social-media{
  margin: 10px 0;
  overflow: hidden;
  text-align: center;
  display: none;
}

.social-media a {
  width: 30px;
  height: 30px;
  color: #fff;
  display: inline-block;
  margin: 0 10px 0 0;
  text-align: center;
  background: #3262b9;
  font-size: 14px;
  line-height: 220%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

.social-media a.google-plus{
  background: #de2020;
}

.social-media a.twitter{
  background: #29C5F6;
}

.social-media a.linkedin{
  background: #069;
}

.social-media a.pinterest{
  background: #C61118;
}

.social-media a.rss{
  background: #FF6D00;
}

.social-media a:hover{
  opacity: .6;
}

/*FORM*/

input, button, select, textarea{
  padding: 5px;
  border: 1px solid #C7C7C7;
}

.contact-message-form label{
  display: block;
}

.btn,
input[type="submit"]{
  /* background-image: -ms-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
  background-image: -o-linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF), color-stop(1, #E3E3E3));
  background-image: -webkit-linear-gradient(top, #FFF 0%, #E3E3E3 100%);
  background-image: linear-gradient(top, #FFFFFF 0%, #E3E3E3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E3E3E3'); */
  border: 1px solid #327fb5;
  color: #fff;
  padding: 5px;
  background: #327fb5;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0px 4px 4px 0px;
}

.btn:hover,
input[type="submit"]:hover{
  color: #fff;
  border: 1px solid #327fb5;
  border-radius: 0px 4px 4px 0px;
  /* background-image: -ms-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
  background-image: -moz-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
  background-image: -o-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DBDBDB), color-stop(1, #F2F2F2));
  background-image: -webkit-linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
  background-image: linear-gradient(top, #DBDBDB 0%, #F2F2F2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DBDBDB', endColorstr='#F2F2F2'); */
}

/*FRONT PAGE*/

.path-frontpage .feed-icon{
  display: none;
}

/*MENU*/

.navbar-default .navbar-toggle{
  background: #fff;
  margin-right: 0;
}

nav h2{
  display: none;
}

.menu-base-theme,
.menu-base-theme a,
.menu-base-theme a:hover,
.menu-base-theme a:focus,
.menu-base-theme a:active,
.menu-base-theme a.highlighted{
  background: none;
}

.menu-base-theme li a{
  background: #FBFBFB;
  color: #000;
}

.main-menu {
  position: relative;
  z-index: 9999;
}

.region-primary-menu{
  display: none;
  background: #fff;
  width: 100%;
  margin-top: 20px;
}

.menu-base-theme a{
  border-bottom: 1px solid #EEF0F7;
}

.menu-base-theme a span.sub-arrow{
  color: #999;
  font-size: 22px;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #DCDCDC;
  background: #EFEFEF;
}

.navbar-toggle{
  z-index: 999;
  background: #327fb5;
}

.navbar-toggle .icon-bar {
  background: #ffff;
}

/*breadcrumb*/

.breadcrumb{
  background: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #eee;
}

.breadcrumb ul,
.breadcrumb ol{
  padding: 0;
}

.breadcrumb ul li,
.breadcrumb ol li{
  display: inline-block;
  padding-right: 10px;
}

.breadcrumb ul li:after,
.breadcrumb ol li:after{
  content: ">";
  padding-left: 10px;
}

.breadcrumb ul li:last-child:after,
.breadcrumb ol li:last-child:after{
  content: "";
  padding: 0px;
}

/*search form*/

.region-search{
  display: none;
}

#search-block-form{
  display: table;
  width: 100%;
}

#search-block-form .form-item,
#search-block-form .form-actions{
  display: table-cell;
  vertical-align: top;
}

.block-search input{
  width: 100%;
}

.block-search{
  margin: 0;
}

/*Demo typography*/

.bd-example {
  position: relative;
  padding: 20px;
  border: 2px solid #f7f7f9;
}

.highlight{
  padding: 20px;
  background-color: #f7f7f9;
}

.highlight pre{
  border: 0;
  background: none;
}

.bd-example-type .table tr:first-child td {
  border-top: 0;
}

.bd-example-type h1,
.bd-example-type h2,
.bd-example-type h3,
.bd-example-type h4,
.bd-example-type h5,
.bd-example-type h6 {
  margin: 0;
}

.bd-example-type .table td {
  padding: 15px 0;
  border-color: #eee;
}

/*Contact form*/

.path-contact{}

.contact-message-feedback-form{
  max-width: 650px;
  margin: 0 auto;
  border: 1px solid #D8D8D8;
  padding: 10px 30px;
  background: #F5F5F4;
}

.contact-message-feedback-form .form-text,
.contact-message-feedback-form .form-email,
.contact-message-feedback-form .form-textarea{
  width: 100%;
}

/*user-login-form*/

.user-login-form,
.user-form,
.user-pass{
  max-width: 650px;
  margin: 40px auto;
  border: 1px solid #ddd;
  padding: 10px 30px;
  background: #FBFBFB;
}

.user-login-form .form-text,
.user-login-form .form-email,
.user-form .form-text,
.user-form .form-email,
.user-pass .form-text{
  width: 100%;
}

.form-composite > .fieldset-wrapper > .description,
.form-item .description {
  font-size: 11px;
  color: #999;
  font-style: italic;
}

/*Maintainance*/

.maintenance-page{
  background: url(../images/maintenance-bg.png) #66CBFF center no-repeat;
  color: #fff;
  text-align: center;
  padding-top: 220px;
  padding-bottom: 100px;
  font-size: 18px;
  color: #000;
}

.maintenance-msg {
  margin: 20px 0;
  background: rgba(242, 244, 207, 0.88);
  padding: 20px 30px;
  display: inline-block;
  color: #404040;
  border: 1px solid #fff;
  box-shadow: 5px 5px 0px #FFFFFF;
  font-size: 14px;
}

.maintenance-msg h1{
  text-transform: uppercase;
  font-weight: bold;
}

.maintenance-page .brand,
.maintenance-page .name-and-slogan{
  display: inline-block;
  vertical-align: middle;
}

.maintenance-page .site-name a{
  color: #404040;
}

.maintenance-page .site-slogan,
.maintenance-page .name-and-slogan{
  display: none;
}

/*Comment*/

.comment-wrap{
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #F5F5F5;
}

.comment-wrap .author-details{
  float: left;
  width: 20%;
}

.comment-wrap .author-comments{
  padding-left: 5px;
  float: left;
  width: 80%;
}

.comment-submitted{
  padding: 5px 10px;
  border: 1px solid #eee;
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
}

.comment-wrap .author-comments h3{
  margin-top: 10px;
}

.comment-wrap .author-comments p{
  margin-bottom: 10px;
}

/*links inline*/

ul.links.inline li{
  display: inline-block;
  padding-right: 10px;
}

/*profile*/

.profile > div{
  padding-right: 5px;
  display: inline-block;
  vertical-align: top;
}

.profile h4.label{
  color: #1d1d1d;
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

/*Carousel*/

.slideshow{
  display: none;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img{
  width: 100%;
}

.carousel-control.left,
.carousel-control.right{
  width: 50px;
  height: 50px;
  background: #000;
  top: 50%;
  padding: 12px;
  margin-top: -25px;
}

/*flexslider*/

.flexslider{
  border: 0;
}

.flexslider .slides > li{
  position: relative;
}

.flexslider .slider-caption{
    display: none;
    position: absolute;
    z-index: 99;
    width: 50%;
    font-size: 1.2em;
    line-height: 140%;
    right: 0px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


.flexslider .slider-caption p.slider-description{
    margin: 0 0 40px 0;
    font-weight: 500;
    color: #fff;
    text-align: center;
    text-shadow: 0px 2px 15px #000;
}

.flexslider .slider-caption a.more-link {
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 4px;
  border: 2px solid #fff;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  text-shadow: 0px 2px 15px #000;
}

.flexslider .slider-title{
  margin-top: 0;
  font-size: 30px;
  color: #fff;
  text-shadow: 0px 2px 15px #000;
}

.flexslider .flex-direction-nav a{
  font-size: 0;
}

.flexslider .flex-direction-nav a:before{
  padding-top: 5px;
}

.price-table .region{
  background: #eee;
  padding: 20px;
}

.price-table .card-header h2{
  color: #3a82b8;
}

.price-table .card-title{
  color: green;
}

.price-table .block{
  margin: 0;
}

.nav-panel .menu-base-theme li a {

  font-size: 14px;
  color: #1d1d1d;
  background: transparent;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;

}


.nav-panel .menu-base-theme li a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #327fb5;
  margin: 0px auto;
  left: 0px;
  bottom: -13px;
  transition: width .3s;

}

.nav-panel .menu-base-theme li a:hover:after {
  width: 100%;
}

.nav-panel .menu-base-theme li.active a:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #327fb5;
  margin: 0px auto;
  left: 0px;
  bottom: -13px;
}

.nav-panel .region-primary-menu, .nav-panel .navbar-default {
  background: transparent;
  border: none;
}

.middlewidget {
  background: #f7f7f7;
  padding: 30px 0px 15px 0px;
  margin-bottom: 30px;
}

.flexslider .slides > li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: rgb(0 0 0 / 50%);
}

.flexslider .flex-control-nav {

  display: none;
}

.page-node-type-article .node__content img {

  float: left;
  padding: 20px 20px 15px 1px;
} 

.page-node-type-page .node__content .align-left {
  padding: 20px 20px 15px 1px;
}

.tagss div {
padding-top: 10px;
float: left;

}

.tagss div a {
  float: left;
  padding-right: 10px;
}