@media (min-width: 767px) {

  .bottomwidget,
  .price-table{
    padding: 50px 0;
  }

  .navbar-header{
    float: none;
  }

  .main-header{
    padding: 0px 0;
  }

  .main-header .region{
    margin: 0px;
    display: block !important;
  }

  .main-header .region-search{
    float: right;
    width: 300px;
    padding: 8px 0 8px 20px;
    display: inline-block;
  }

  .carousel-caption {
    background: rgba(0, 0, 0, 0.47);
    padding: 0 15px 30px 14px;
    font-size: 14px;
  }

  .carousel-caption h3{
    color: #fff;
  }

  .region-primary-menu{
    display: inline-block;
    float: left;
    width: 100%;
    margin: 0;
  }

  .region-primary-menu,
  .menu-base-theme li a{
    background: #272727;
    color: #ddd
  }

  .menu-base-theme >li a:hover,
  .menu-base-theme li.active a,
  .menu-base-theme li a.is-active{
    color: #327fb5;
  }

  .slideshow{
    display: block;
  }

  .menu-base-theme a{
    border: 0;
  }

  .menu-base-theme a,
  .menu-base-theme a:hover,
  .menu-base-theme a:focus,
  .menu-base-theme a:active,
  .menu-base-theme a.highlighted{
    padding: 0px;
  }

  .menu-base-theme a.has-submenu{
    padding: 13px 36px 13px 24px;
  }

  .menu-base-theme > li{
    border: 0;
    /* background: url(../images/nav-border.png) repeat-y right; */
    padding: 13px 20px 13px 20px;
  }

  .menu-base-theme > li:last-child {
    padding: 13px 0px 13px 20px;
}

  .menu-base-theme a span.sub-arrow {
    padding: 0;
    top: 23px;
    margin-top: 0;
    bottom: 2px;
    right: 16px;
    margin-left: -5px;
    left: auto;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid dashed dashed dashed;
    border-color: #999 transparent transparent transparent;
    background: transparent;
  }

  .menu-base-theme ul {
    border: 0;
    padding: 0;
    background-color: #fff;
    background: rgba(255, 255, 255, 0.74);
  }

  .menu-base-theme ul.has-submenu li {
    border-bottom: 1px solid #fff;
  }

  .menu-base-theme ul li{
    border-bottom: 1px solid #333;
  }

  .welcome-banner-text h2{
    font-size: 50px;
  }

  .welcome-banner-text{
    font-size: 14px;
  }

  .bottom-widgets{
    text-align: left;
    padding: 50px 0;
  }

  .credit-link{
    text-align: right;
  }

  .social-media{
    float: left;
    display: inline-block;
  }

  .social-media a{
    margin: 0 0 0 3px;
  }

  /*comment*/

  .comment-wrap .author-details{ width: 10%; }

  .comment-wrap .author-comments{ width: 90%;}

  .flexslider .slider-caption{
    display: inline-block;
  }


  .nav-panel .navbar-default {
    float: right;
    padding-top: 40px;
    }

    input.form-search {
      border-radius: 4px 0px 0px 4px;
    }

    header.main-header::before {
      content: "";
      background: #f7f7f7;
      width: 100%;
      height: 80px;
      position: absolute;
    }

    header.main-header .container {

      padding-top: 15px;
    }

    .nav-panel {

      padding-top: 15px;

    }




}


@media (min-width: 992px) {

  .flexslider .flex-control-nav {

    display: block;
    bottom: 30px;
  }

}

@media (max-width: 767px) {
.nav-panel .col-sm-4.col-md-3 {

  background: #f7f7f7;

}

.nav-panel .region-header .brand {

  width: 80px;
}

.nav-panel .navbar-toggle {

  margin-top: 22px;

}

.nav-panel .region-primary-menu {
  position: absolute;
  width: 100%;
  background: #fff;
  z-index: 99;
}

.nav-panel .menu-base-theme li.active a:after, .nav-panel .menu-base-theme li a:after {

  bottom: 0;
}

.nav-panel .navbar {

  min-height: 5px;

}

.flexslider .slider-caption {
  width: 88%;
  top: 72%;
  display: block;
}
.flexslider .slider-title {
  font-size: 13px;
  margin-bottom: 10px;
}
.flexslider .slider-caption p.slider-description {
  margin: 0px 0 20px 0;
  font-size: 13px;
}
.flexslider .slider-caption a.more-link {
  font-size: 13px;
  padding: 7px 23px;
}
.flexslider .slides > li {
  min-height: 330px;
}

.flexslider {
  margin: 0 0 30px;
  background: #000;
}

.topwidget h2{

  padding-top: 20px;
}

.topwidget {
  padding: 0px 0 20px 0px;
}
.middlewidget {
  padding: 20px 0px 0px 0px;
  margin-bottom: 20px;
}
.footerwidget {
  margin-top: 20px;
  padding: 20px 0;
}
}

